@model MvcCoreDynamoDb.Models.Coche

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen"
                 style="width: 450px; height:450px" />
        </dd>
    </dl>
</div>
@if (Model.Motor != null)
{
    <h1>Datos de Motor</h1>
    <h2>Tipo: @Model.Motor.Tipo</h2>
    <h2>Velocidad: @Model.Motor.Velocidad km/h</h2>
    <h2>Cilindrada: @Model.Motor.Cilindrada</h2>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
